
.Config {
  position: fixed;
  width: 500px;
  height: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
  padding: 1em;

  &:extend(.modal);


  label {
    display: block;
    margin: 1em 0;
  }

  label.invalid {
    color: red;
  }

  label.invalid input:not(:focus) {
    outline: red solid 1px;
  }

  label.invalid input {
    outline-color: red;
  }

  input[type=text] {
    width: 100%;
    font-size: 20px;
    outline-color: white;
    text-overflow: ellipsis;
  }

  button {
    font-size: 1.3rem;
    background-color: hsl(206, 83%, 42%);
    color: white;
    float: right;
    border: 0;
    border-radius: 0.1em;
    padding: 0.3em 0.8em;
    user-select: none;
    cursor: pointer;
  }


  button {
    outline-color: hsl(206, 83%, 42%);
  }

}

