doctype html
html
  head
    title Codex Press Development Server

    script(src="/main.js")

    link(rel="shortcut icon" href="/favicon.png")

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    )

    meta(name="theme-color" content="#000")

    meta(name="codex:client-render" content="true")

  body

    div#dev-server

