doctype html
html
  head
    title Codex Press Development Server

    script(src="/main.js")

    link(rel="shortcut icon" href="/favicon.png")

    meta(name="codex:client-render" content="true")

  body

    div#dev-server

